*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #B0BEC5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

.conteiner {
    width: 1024px;
    margin: auto;
    border: 1px solid black;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: aliceblue;
}
.search h1 {
    color: #546E7A;
    font-size: 40px;
    margin-bottom: 25px;
}
.search input {
    width: 200px;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.gallery {
    width: 100%;
    height: 1350px;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    padding: 5%;
    background-color:#B4CAC7;
}
.film {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 260px;
    height: 310px;
    background:#c7cddc;
    border: 2px solid white;
    margin-bottom: 15px;
    background-size: 100%;
    padding: 3%;
}
.cardName {
    text-align: center;
    color: white;
}
.aboutFilm {
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
}

.btnFavorites {
    width: 100px;
    height: 30px;
    background-color:#71608cd9;
    color: white;
    border-radius: 7px;
    outline:none;
}